/*banner*/
div#slider img{
	max-height: 550px;
}

div.carousel-caption.first, div.carousel-caption.second h2{
	text-shadow: 2px 2px 5px rgb(47,47,59);
}

div.carousel-caption.third {
	text-shadow: 2px 2px 5px rgb(204,201,194);
}
/*end banner*/

/*footer*/
#footer section#links{
	width: 100%; 
	border-bottom: solid 0.5px #CAC9C9
}

#footer section#contacts{
	width: 100%;
}
/*end footer*/

/*search page*/

#search, #first-result{
	width: 98%; 
	margin: 0 auto;
}

#search div#first-search{
	min-width: 500px;
}

#first-search div.content{
	width: 70%;
	max-width: 700px;
}

#search div#second-search{
	min-width: 450px; 
	position: relative;
}

#second-search div.content{
	width: 80%;
	max-width: 700px;
}

div#form-border{
	border: 3px solid #0C8DB9;
	border-radius: 25px;
	padding: 15px;
	margin-bottom: 20px;
}

div#form-border:hover{
	border: 3px solid #AAD5E4;
}

div.nowrap{
	white-space: nowrap;
}

/*end search page*/


/* second search results*/


div#icon {
    font-family: 'FontAwesome';
	display: inline-block;
	margin: auto;
	position: relative;
	width: 100%;
	height: 100%;
}


div.form-border{
	border: 3px solid #0C8DB9;
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
	width: 60%;
}

div.result {
	border: 3px solid #0C8DB9;
	border-radius: 25px;
	margin-top: 20px;

}

div.result:hover {
	border: 3px solid #AAD5E4;
}

#search-results .major{
	text-align: left;
}

#search-results .major h3{
	margin-top: 10px;
	margin-bottom: 15px;
}
#search-results i {
	line-height: 1.2em;
}


#search-results #icon a {
	font-size: 60px;
	padding: 12px;
	display: inline-block;
}

#list i  {
	color: #0C8DB9;
}

#all i{
	color: #0C8DB9;
}

#subfield i{
	color: #FBC24E;
}

#program i{
	color: #F47342;
}

#university i{
	color: #7F888C;
}

#ball .btn {
	border-radius: 25px;
	margin: 30px;
	background-color: #58B26D;
	border-color: #58B26D;
}

#ball .btn:hover {
	background-color: #1F7433;
	border-color: #1F7433;
}

/*end search results*/

/*Calculator page*/

div#major-info li {
	list-style: none
}

#major-calculate div#form-border{
	width: 60%; 
	min-width: 320px;
}

div#form-border table{
	table-layout: fixed;
    width:100%;
}

div#bal-input input{
	min-width: 70px;
}

td.bal{
	border: 3px solid #F47342;
	font: 20px Segoe UI, sans-serif;
}

div#result-display{
	background: #FFF;
	border: 1px solid #AAD5E4;
	border-radius: 5px;
	position: relative;
	width: 50%;
	min-width: 60px !important;
	height: 40px;
	padding-top: 3px;
	padding-bottom: 2px;
}

/*End Calculator page*/